# general nice-to-have jupyter stuff
jupyter-contrib-nbextensions
ipywidgets
nb_black
isort
retrolab
rich

# Exploring the test app and database
httpx
pydantic
sqlalchemy
sqlalchemy-cockroachdb
structlog


