# This dependency list could be broken into
# different files and only necessary libs
# installed if minor-illusion refactored
# to use multi-stage Docker builds or
# separate Docker files for "production" vs "dev"

# For the fastapi app
fastapi
psycopg2-binary
pydantic
python-multipart
sqlalchemy
sqlalchemy-cockroachdb
structlog
uvicorn

# For alembic
alembic

# For attaching vscode debugger
debugpy

# For testing
pytest
pytest-mock
pytest-xdist
requests