# For the base app
fastapi
psycopg2-binary
pydantic
python-multipart
sqlalchemy
sqlalchemy-cockroachdb
structlog
uvicorn

# For alembic
alembic

# For attaching vscode debugger
debugpy

# For testing
pytest
pytest-mock
requests