# For the base app
asyncpg
fastapi
psycopg2-binary
pydantic
python-multipart
sqlalchemy
git+https://github.com/gordthompson/sqlalchemy-cockroachdb.git@pr20211117a
structlog
uvicorn

# For alembic
alembic

# For attaching vscode debugger
debugpy

# For testing
pytest
pytest-asyncio
pytest-mock
requests